@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #19191B;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
@font-face {
    font-family: 'Graphik';
    src: url('..//public//Graphik-Font-Family/GraphikBold.otf');
    font-weight: 700;
    font-style: normal;
}
::-webkit-scrollbar{
    width: 0px;
    height:0px;
}
#text{
    
}
@keyframes typing {
    from{
        width : 0
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }}